/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100vh;}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 100vh) {
    .row.content {height: auto;}
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#logo {
    padding: 4px;
}

#logoNavbar {
    background-color: black;
}

#phasesNavbar {
    background-color: #1b1e21;
}

.btn-block {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

#IF_link, #VA_link, #EX_link {
    background-color: red;
    color: white;
}

#PC_link, #PR_link {
    background-color: #ff6600;
    color: white;
}

.btn-block::selection {
    background-color: black;
}

.titleOnBlack {
    color: white;
}

.well {
    background-color: gainsboro;
    height: 660px;
}

#page {
    width: 100%;
    height: 100%;
}

#myName {
    color: white;
    float: right;
    font-size: 70%;
}